In [ ]:
import pandas as pd
import missingno as msno
import matplotlib.pyplot as plt

df = pd.read_csv('tips.csv', encoding='latin1')

In [ ]:
#kaggle Tipster Visualization

import numpy as np
odds = (df
            .pivot(index='UID', columns='Tipster', values='Odds')
            .assign(ID=df.ID)
            .fillna(0)
            .groupby('ID')
            .sum()
            .assign(Win=df.Result.map(lambda v: v == 'Win'))
            .replace(0, np.nan))

odds.head()

Tipster,Tipster A,Tipster A1,Tipster B,Tipster B1,Tipster C,Tipster C1,Tipster D,Tipster D1,Tipster E,Tipster E1,...,Tipster R,Tipster S,Tipster T,Tipster U,Tipster V,Tipster W,Tipster X,Tipster Y,Tipster Z,Win
ID,,,,,,,,,,,,,,,,,,,,,
0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1.0,1.25,19.40,2.75,3.75,13.0,6.00,26.0,15.0,5.50,NaN,...,4.50,8.0,9.0,5.0,51.0,21.0,6.5,11.0,5.00,False
2.0,8.00,6.50,1.91,2.38,4.5,12.10,135.0,22.0,3.00,4.00,...,1.36,10.0,13.0,11.0,21.0,10.0,5.5,17.2,28.00,False
3.0,4.50,8.00,9.00,8.00,15.0,2.75,10.0,50.0,1.88,3.25,...,4.00,8.0,5.0,13.0,33.0,8.0,4.5,26.0,6.00,False
4.0,7.00,3.75,1.91,13.00,10.0,5.00,42.0,28.0,4.50,4.50,...,1.40,11.0,6.0,10.0,6.5,21.0,8.0,9.0,2.38,True

In [ ]:
#kaggle Visualization

msno.matrix(odds.drop('Win', axis='columns').sample(500))

In [ ]:
msno.bar(odds.drop('Win', axis='columns'))

In [ ]:
msno.heatmap(odds.drop('Win', axis='columns'))

In [ ]:
#minha tentativa de visualização

df_cleaned = df.dropna(axis=1)  
odds_cleaned = (df_cleaned
            .pivot(index='UID', columns='Tipster', values='Odds')
            .assign(ID=df_cleaned.ID)
            .fillna(0)
            .groupby('ID')
            .sum()
            .assign(Win=df_cleaned.Result.map(lambda v: v == 'Win'))
            .replace(0, np.nan))
msno.matrix(odds_cleaned)
plt.show()